{% extends "base.html" %}

{% block content %}
<h2>Signup</h2>

<div class="form-card">
    <form method="post">
        <label>Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn btn-orange">Create Account</button>
    </form>
    <p class="text-muted" style="margin-top:10px;">
        Already have an account?
        <a href="{{ url_for('login') }}" style="color:#fb923c;">Login</a>
    </p>
</div>
{% endblock %}




